@import 'src/styles/abstract/colors';

// Customize scrollbar similar to macOS for Windows
::-webkit-scrollbar { // sass-lint:disable-line no-vendor-prefixes
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb { // sass-lint:disable-line no-vendor-prefixes
  background-color: $color-french-gray;
  border-radius: 16px;
}
