/* APP WIDE COLOURS */
// Greyscale
$color-white: #fff;
$color-black: #000;
$color-kilamanjaro-gray: #3d3535;
$color-cape-cod: #3c4245;
$color-nevada: #5f6769;
$color-zircon: #e1e1e1;
$color-french-gray: #babac0;

// Red`
$color-cinnabar: #ed4337;

// Blue
$color-danube-blue: #5a8db7;

// Green
$color-apple: #50b44a;
$color-juniper: #719192;

// Brown
$color-wafer: #dfcdc3;

/* FACEBOOK COLOURS */
$color-st-topaz: #385898;
$color-shuttle-gray: #616770;
$color-shuttle-gray-2: #606770;
$color-black-pearl: #1d2129;
$color-anti-flash-white: #f2f3f5;
$color-aluminium: #868789;
$color-solitude: #eaeaed;
$color-ghost: #bec3c9;
$color-athens-gray: #eff1f3;
$color-zircon-btn: #dddfe2;
