@mixin view-layout {
  padding: 28px;
}

@mixin cubic-transition($prop: all, $time: .6s) {
  transition: $prop $time cubic-bezier(.85, -.12, .77, .46);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin disable-select {
  cursor: default;
  user-select: none;
}
