@import 'src/styles/abstract/colors';
@import 'src/styles/abstract/mixins';
@import 'src/styles/layout/views';

.app {
  height: 100%;
  width: 100%;

  &-route {
    overflow-x: auto;

    &__form-panel {
      min-width: $form-panel-width;
      overflow-y: scroll;
    }

    &__ad-preview {
      background-color: $color-kilamanjaro-gray;
      min-width: $ad-preview-width;
      overflow-y: scroll;
    }
  }
}
