@import 'src/styles/abstract/colors';
@import 'src/styles/abstract/mixins';

.ad-preview {
  background-color: $color-kilamanjaro-gray;
  color: $color-white;
  height: 100%;
  border-left: 2px solid rgba($color-white, .2);

  &-container {
    @include view-layout;
  }

  &__header {
    margin-bottom: 22px;
  }
}
